:root{
    --main-color:#f2545f;
    --secondary-color:#66ccff;
    --main-transition-timing:0.5s ease-in-out;
    --long-transition-timing: 2s ease-in-out;
    --section-padding:4rem;
}
/* Start global rules */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow:hidden;
}

body {
    overflow-x:hidden ;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (max-width:992px){
    .container{
        margin: 0;
        padding: 10px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.scroll-to-top{
    display: none;
    text-decoration: none;
    display: block;
    position: fixed;
    font-size: 35px;
    border-radius: 50%;
    padding: 10px 15px;
    background-color: #101010;
    right: 15px;
    bottom: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.scroll-to-top a{
    text-decoration: none;
    color: white;
}
.scroll-to-top:hover{
    background-color: var(--main-color);
}
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    transform: translate(0,-45%);
    opacity: 0;
    -webkit-transform: translate(0,-45%);
    -moz-transform: translate(0,-45%);
    -ms-transform: translate(0,-45%);
    -o-transform: translate(0,-45%);
}

.heading h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.heading p {
    font-size: 14px;
    color: #707070;
    line-height: 24px;
}
/* end global rules */
/* start header */
.header{
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 120px;
}
.header .logo{
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
.header .navbar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .navbar ul li{
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    margin-left: 30px;
}
.header .navbar ul li a{
    text-decoration: none;
    color: #ddd;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.header .navbar ul li a:hover{
    color: var(--secondary-color);
}
.header .navbar ul li a.active{
    color: var(--secondary-color);
}
.header .menu{
    display: none;
    width: 100%;
    height: 100%;
}
.header .menu .icons{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header .menu span{
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.header .menu ul{
    display: block;
    background-color: #101010;
    position: absolute;
    overflow: hidden;
    width:100%;
    top: 100%;
    height: 0;
    left: 0;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.header ul.show{
    display: block;
    height: 310px;
}
.header .menu ul li{
    position: relative;
    display: block;
    padding: 10px 15px;
}
.header .menu ul li a{
    text-decoration: none;
    color: #ddd;
}
.header .menu ul li a.active{
    color: var(--secondary-color);
}
.header .menu ul li a:hover{
    color: var(--secondary-color);
}
@media (max-width: 992px){
    .header .logo{
        width: 100px;
    }
    .header .container{
        width: 100%;
    }
    .header .navbar{
        display: none;
    }
    .header .logo{
        font-size: 10px;
    }
    .header .menu{
        display: block;
    }
}
/* end header */
/* start intro */
.intro{
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    background: url(../images/intro-bg-min.webp);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro .container{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.intro .container .content{
    color: white;
    text-align: center;
}
.intro .container .content p{
    font-size: 25px;
    letter-spacing: 5px;
}
.intro .container .content h1{
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 45px;
    font-weight: 700;
}
.intro .container .content .learn{
    padding: 15px 45px;
    border: 2px solid white;
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    background-color: transparent;
    cursor: pointer;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.intro .container .content .learn:hover{
    background-color: white;
    color: black;
}
.intro .container .content .register-btn{
    padding: 15px 45px;
    background-color: var(--main-color);
    margin-top: 25px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: white;
    border: 2px solid var(--main-color);
    cursor: pointer;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.intro .container .content .register-btn:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
/* end intro */
/* start overview */
/* start first part */
.overview .first-part{
    display: flex;
    justify-content: space-between;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.overview .first-part .left-section{
    flex-basis: 45%;
    opacity: 0;
    transform: translate(-45%, 0);
    -webkit-transform: translate(-45%, 0);
    -moz-transform: translate(-45%, 0);
    -ms-transform: translate(-45%, 0);
    -o-transform: translate(-45%, 0);
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
}
.overview .first-part .right-section{
    flex-basis: 45%;
    opacity: 0;
    transform: translate(45%,0);
    -webkit-transform: translate(45%,0);
    -moz-transform: translate(45%,0);
    -ms-transform: translate(45%,0);
    -o-transform: translate(45%,0);
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
}
.overview .first-part .left-section h3{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}
.overview .first-part .left-section p{
    font-size: 14px;
    line-height: 24px;
    color: #707070;
    font-weight: 400;
}
.overview .first-part .right-section img{
    width: 100%;
}
@media (max-width: 767px){
    .overview .first-part{
        flex-direction: column;
    }
    .overview .first-part .right-section img{
        margin-top: 40px;
    }
}
/* end first part */
/* start second part */
.overview .second-part{
    background: #222;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    transform: translate(0, 45%);
    -webkit-transform: translate(0, 45%);
    -moz-transform: translate(0, 45%);
    -ms-transform: translate(0, 45%);
    -o-transform: translate(0, 45%);
}
.overview .second-part .container{
    display: flex;
    justify-content: space-between;
}
.overview .second-part .container .section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 35%;
}
.overview .second-part .container .section i{
    color: var(--main-color);
    font-size: 48px;
    text-align: center;
}

.overview .second-part .container .section h3{
    font-size: 24px;
    margin-top: 20px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}
.overview .second-part .container .section p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
@media (max-width:992px){
    .overview .second-part .container{
        flex-direction: column;
    }
    .overview .second-part .container .section:not(:first-child){
        padding-top: 50px;
    }
}
/* end second part */
/* start third part */
.overview .third-part{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.overview .third-part .container{
    display: flex;
    justify-content: space-between;
}
.overview .third-part .container .left-section{
    flex-basis: 45%;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(-45%,0);
    -webkit-transform: translate(-45%,0);
    -moz-transform: translate(-45%,0);
    -ms-transform: translate(-45%,0);
    -o-transform: translate(-45%,0);
}
.overview .third-part .container .left-section h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
.overview .third-part .container .left-section h3{
    line-height: 36px;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 12px;
}
.overview .third-part .container .left-section p{
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}
.overview .third-part .container .right-section {
    flex-basis: 50%;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(45%, 0);
    -webkit-transform: translate(45%, 0);
    -moz-transform: translate(45%, 0);
    -ms-transform: translate(45%, 0);
    -o-transform: translate(45%, 0);
}
.overview .third-part .container .right-section iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 992px) {
    .overview .third-part .container{
        flex-direction: column;
    }
}
/* end third part */
/* end overview */
/* start speakers */
.speakers{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f9f9f9;
}
.speakers .container{
    overflow: hidden;
}

.speakers .slider{
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    margin-top: 70px;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(45%, 0);
    -webkit-transform: translate(45%, 0);
    -moz-transform: translate(45%, 0);
    -ms-transform: translate(45%, 0);
    -o-transform: translate(45%, 0);
}
.speakers .card{
    width: 200px;
    padding-bottom: 22px;
    text-align: center;
    background-color: white;
}
.speakers .card img{
    width: 100%;
}
.speakers .card h3{
    font-size: 18px;
    line-height: 36px;
    margin-top: 20px;
    font-weight: 500;
}
.speakers .card h6{
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 4px;
    line-height: 1.1;
}
.speakers .slider_btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(-45%, 0);
    -webkit-transform: translate(-45%, 0);
    -moz-transform: translate(-45%, 0);
    -ms-transform: translate(-45%, 0);
    -o-transform: translate(-45%, 0);
}
.speakers .slider_btn i{
    height: 15px;
    width: 15px;
    background-color: #666;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.speakers .slider_btn .current{
    background-color: black;
}
@media (max-width:992px){
    .speakers .slider{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
/* end speakers */
/* start programs */
.programs{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.programs h2,
.programs p{
    display: block;
    text-align: left;
}
.programs .filter-btn{
    margin-top: 25px;
    width: calc(100% - 35%);
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    transform: translate(45%,0);
    -webkit-transform: translate(45%,0);
    -moz-transform: translate(45%,0);
    -ms-transform: translate(45%,0);
    -o-transform: translate(45%,0);
    opacity: 0;
}
.programs .filter-btn a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    cursor: pointer;
}
.programs .filter-btn a.active{
    color: var(--main-color);
    border-bottom: 1px solid black;
}
.programs .filter-content{
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    transform: translate(-45%, 0);
    -webkit-transform: translate(-45%, 0);
    -moz-transform: translate(-45%, 0);
    -ms-transform: translate(-45%, 0);
    -o-transform: translate(-45%, 0);
    opacity: 0;
}
.programs .filter-content .card{
    display: none;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.programs .filter-content .card:nth-child(1),
.programs .filter-content .card:nth-child(2),
.programs .filter-content .card:nth-child(3){
    display: flex;
}
.programs .filter-content .card .image{
    float: left;
    width: 120px;
}
.programs .filter-content .card .image img{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.programs .filter-content .card .content{
    position: relative;
    width: 83%;
    margin-left: 25px;
}
.programs .filter-content .card .content i{
    font-size: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
    color: #222;
}
.programs .filter-content .card .content h1{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
}
.programs .filter-content .card .content h6{
    color: #666;
    margin-bottom: 10px;
}
.programs .filter-content .card .content p{
    font-size: 13px;
    color: #666;
    line-height: 20px;
}
@media (max-width: 992px){
    .programs .filter-btn a{
        font-size: 10px;
        padding: 5px 10px;
    }
    .programs .filter-content{
        padding: 0;
    }
}
/* end programs */
/* start register */
.register{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: white;
    background: url("../images/register-bg-min.webp");
    background-size: cover;
    background-attachment: fixed;
}
.register .container{
    display: flex;
    justify-content: space-between;
}
.register .content{
    flex-basis: 55%;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
    transform: scale(0.1) ;
    -webkit-transform: scale(0.1) ;
    -moz-transform: scale(0.1) ;
    -ms-transform: scale(0.1) ;
    -o-transform: scale(0.1) ;
    opacity: 0;
}
.register .content h2{
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 20px;
}
.register .content p{
    font-size: 15px;
    text-align: left;
    color: #666;
}
.register form{
    flex-basis: 40%;
    margin: 0.67rem 0;
}
.register form input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}
.register form button{
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
    cursor: pointer;
    float: right;
}
.register form button:hover{
    background-color: white;
    color: black;
}
@media (max-width:992px){
    .register .container{
        flex-direction: column;
    }
    .register form{
        margin-top: 30px;
    }
    .register form button{
        width: 100%;
    }
}
/* end register */
/* start question */
.question{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f9f9f9;
    color: #505050;
}
.question .heading{
    color: black;
}
.question .container{
    padding-left: 100px;
    padding-right: 100px;
}
.question .cards{
    transform: translate(45%,0);
    -webkit-transform: translate(45%,0);
    -moz-transform: translate(45%,0);
    -ms-transform: translate(45%,0);
    -o-transform: translate(45%,0);
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
}
.question .foldablecard{
    margin-bottom: 10px;
}
.question .foldablecard .head{
    cursor: pointer;
    padding: 20px 30px;
    background-color: #f0f0f0;
}
.question .foldablecard .head a{
    font-size: 20px;
    font-weight: 200;
}
.question .foldablecard .head .indecation{
    float: right;
}
.question .foldablecard .qus-content{
    display: none;
    padding: 20px 30px;
    overflow: hidden;
    background-color: white;
    font-size: 15px;
    line-height: 30px;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.question .foldablecard .qus-content p{
    width: 100%;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.question .active .qus-content{
    display: block;
}
/* end question */
/* start venue */
.venue{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: url(../images/venue-bg.webp);
    background-attachment: fixed;
    background-size: cover;
}
.venue .container{
    padding-right: 35%;
    padding-left: 100px;
}
.venue .heading{
    text-align: left;
}
.venue .content{
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(-45%,0);
    -webkit-transform: translate(-45%,0);
    -moz-transform: translate(-45%,0);
    -ms-transform: translate(-45%,0);
    -o-transform: translate(-45%,0);
}
@media (max-width: 992px){
    .venue .container{
        padding-right: 100px;
    }
}
/* end venue */
/* start sponsors */
.sponsors{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.sponsors .names{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    gap: 40px;
    align-items: center;
    justify-content: center;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(0,45%);
    -webkit-transform: translate(0,45%);
    -moz-transform: translate(0,45%);
    -ms-transform: translate(0,45%);
    -o-transform: translate(0,45%);
}
.sponsors .names img{
    width: 250px;
}
/* end sponsors */
/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: url(../images/contact-bg-min.webp);
    background-attachment: fixed;
    background-size: cover;
}
.contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--long-transition-timing);
    -webkit-transition: var(--long-transition-timing);
    -moz-transition: var(--long-transition-timing);
    -ms-transition: var(--long-transition-timing);
    -o-transition: var(--long-transition-timing);
    opacity: 0;
    transform: translate(45%,0);
    -webkit-transform: translate(45%,0);
    -moz-transform: translate(45%,0);
    -ms-transform: translate(45%,0);
    -o-transform: translate(45%,0);
}
.contact .content .new-event{
    flex-basis: 45%;
}
.contact .content .new-event h2{
    font-weight: 500;
    color: #505050;
}
.contact .content .new-event p{
    margin-top: 20px;
    color: #505050;
}
.contact .content .new-event button{
    padding: 15px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    width: 200px;
    color: white;
    font-size: 15px;
    background-color: var(--main-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.contact .content .new-event button:hover{
    background-color: #222;
}
.contact .content form{
    text-transform: uppercase;
    flex-basis: 45%;
    background-color: white;
    padding: 40px;
}
.contact .content form input{
    padding: 20px 10px 5px 10px;
    border: none;
    border-bottom: 1px solid #505050 ;
    color: #505050;
    width: 100%;
}
.contact .content form textarea{
    padding: 20px 10px 5px 10px;
    border: none;
    color: #505050;
    border-bottom: 1px solid #505050;
    width: 100%;
    min-height: 100px;
    resize: vertical;
}
.contact .content form textarea:focus,
.contact .content form input:focus{
    outline: none;
}
.contact .content form .send{
    background-color: #222;
    color: white;
    padding: 20px 40px;
    width: 150px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
}
.contact .content form .send:hover{
    background-color: var(--main-color);
}
@media (max-width:992px){
    .contact .content{
        flex-direction: column;
    }
    .contact form{
        margin-top: 50px;
    }
}
/* end contact */
/* start footer */
footer{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    color: #505050;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
footer ul li{
    margin-left: 40px;
}
footer ul li a{
    background-color: none;
    padding: 15px;
    text-decoration: none;
    color: #505050;
    transition: var(--main-transition-timing);
    -webkit-transition: var(--main-transition-timing);
    -moz-transition: var(--main-transition-timing);
    -ms-transition: var(--main-transition-timing);
    -o-transition: var(--main-transition-timing);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer ul li:hover a{
    background-color: var(--main-color);
    color: white;
}
/* end footer */
